{{ define "consent_claims" }}

<div class="consent-scopes-container">
<h3>Claims</h3>
  {{ range .Data.Claims }}
    <div class="consent-scopes-container-row-container">
      <div class="form-field consent-scope-row">
        <label for="{{ .Name }}">
          <div class="form-field-checkbox">
            <input type="checkbox" name="claims" value="{{ .Name }}" id="{{ .Name }}" checked >
              {{ .Name }}
          </div>
        </label>
      </div>
    </div>
  {{ end }}
</div>

{{ end }}