{{ define "consent_scopes_with_service" }}

<div class="consent-scopes-container">
  <h3>Scopes</h3>
  {{ range .Data.ServicesWithScopes }}
    <h4>{{ .Service.Name }}</h4>
    <div>
      {{ range .Scopes }}
        <div class="form-field consent-scope-row">
          <label for="{{ .Name }}">
            <div class="form-field-checkbox">
              <input type="checkbox" name="scopes" value="{{ .RequestedScopeName }}" id="{{ .RequestedScopeName }}" {{ if not .GrantAllowed }} disabled {{ else }} checked {{ end }} >

              {{ if .IsDynamic }}
                {{ if .DisplayName }} {{ .DisplayName }}: {{ .RequestedScopeName }} {{ end }}
              {{ else }}
                {{ or .DisplayName .Name }}
              {{ end }}

              {{ if not .GrantAllowed }}
                {{ template "tooltip" "Additional verification required" }}
              {{ end }}
            </div>
          </label>

          {{ if (or .Description (not .GrantAllowed)) }}
            <button type="button" aria-label="Show scope description" data-scope-name="{{ .RequestedScopeName }}" class="scope-desc-toggle">
              <i class="material-icons" data-icon-id="{{ .RequestedScopeName }}"> keyboard_arrow_down</i>
            </button>
          {{ end }}
        </div>

        {{ if .Description }}
          <div data-desc-id="{{ .RequestedScopeName }}" class="consent-scope-description non-visible">
            {{ .Description }}
          </div>
        {{ end }}

        {{ if not .GrantAllowed }}
          <div class="non-visible mfa-additional-info" data-desc-id="{{ .RequestedScopeName }}-additional-info">
            {{ if .HasRecovery }}
              <div>
                <div>
                  <i class="material-icons" tabindex="-1">error_outline</i>
                  <h5>Additional verification required</h5>
                </div>
                <button class="contained-button" type="submit" name="verify_scope" value="{{ .RequestedScopeName }}">
                  Verify now
                </button>
              </div>
              <p>Application features or functionality may be limited if you continue without granting this permission</p>
            {{ else }}
              <div>
                <div>
                  <i class="material-icons" tabindex="-1">error_outline</i>
                  <h5>Access to this scope is not authorized</h5>
                </div>
              </div>
            {{ end }}
          </div>
        {{ end }}
      {{end}}
    </div>
  {{ end }}
</div>

{{ end }}
