{{ define "consent_scripts" }}

<script nonce="{{.Config.Nonce}}">

  function showDescription (el, scope) {
    el.classList.remove("non-visible");
    el.classList.add("visible");
    document.querySelector("[data-icon-id='" + scope + "']").innerText = "keyboard_arrow_up";
  }

  function hideDescription (el, scope) {
    el.classList.remove("visible");
    el.classList.add("non-visible");
    document.querySelector("[data-icon-id='" + scope + "']").innerText = "keyboard_arrow_down";
  }

  function toggle (e) {
    var targetEl = e.targetSelector;
    var scope = targetEl.getAttribute("data-scope-name");
    var el = document.querySelector("[data-desc-id='" + scope + "']");
    var elAdditionalInfo = document.querySelector("[data-desc-id='" + scope + "-additional-info']");

    if (el) {
      if (el.classList.contains('visible')) {
        hideDescription(el, scope);
      } else {
        showDescription(el, scope);
      }
    }

    if (elAdditionalInfo) {
      if (elAdditionalInfo.classList.contains('visible')) {
        hideDescription(elAdditionalInfo, scope);
      } else {
        showDescription(elAdditionalInfo, scope);
      }
    }

    return false;
  }

  document.addEventListener("DOMContentLoaded", function () {
    document.addEventListener('click', delegate('.scope-desc-toggle', toggle));

    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach(function (checkbox) {
      checkbox.addEventListener('keypress', function (e) {
        if (e.key === 'Enter') {
          checkbox.checked = !checkbox.checked;
          e.preventDefault();
        }
      })
    });
  });
</script>

{{ end }}
