{{ define "consent_rars" }}

<div class="consent-scopes-container">
  {{ range .Data.ServicesWithAuthorizationDetails }}
    <h4>{{ .ServiceName }}</h4>
    <div>
      {{ $data := . }}
      {{ range .AuthorizationDetails }}
        <div class="form-field consent-scope-row">
          <label for="{{ or .Name .Type}}">
            <div class="form-field-checkbox">
              <input type="checkbox" name="authorization-details" value="{{ .Type }}" id="{{ .Type }}" checked style="display: none">
                {{ or .Name .Type}}
            </div>
          </label>

          <button type="button" aria-label="Show scope description" data-scope-name="{{ .Type }}" class="scope-desc-toggle" style="display: {{ if and .PayloadAsString (gt (len $data.AuthorizationDetails) 1) }}flex{{else}}none{{end}}">
            <i class="material-icons" data-icon-id="{{ .Type }}"> keyboard_arrow_down</i>
          </button>
        </div>

        {{ if .PayloadAsString }}
          <div data-desc-id="{{ .Type }}" class="consent-authorization-detail-description{{ if gt (len $data.AuthorizationDetails) 1 }} non-visible{{end}}">
            <pre>{{ .PayloadAsString }}</pre>
          </div>
        {{ end }}
      {{end}}
    </div>
  {{ end }}
</div>

{{ end }}
