{{ define "consent_header_rar" }}

<div class="content consent-header">
  <h2>{{ or .Data.Session.AuthenticationContext.name .Data.Session.Subject }},</h2>
  <h3>Please authorize access</h3>

  <div>This application would like to</div>
</div>

{{ end }}
