{{ define "consent_footer_rar" }}

<div class="buttons-container">
  <button class="text-button" type="submit" name="action" value="deny">Cancel</button>
  <button class="contained-button" type="submit" name="action" value="allow">Allow access</button>
</div>

{{ end }}
