{{ define "consent_footer" }}

<div class="consent-footer">
  {{ if and .Data.Session.ClientInfo.PolicyURI .Data.Session.ClientInfo.TosURI }}
    By accepting these permissions, you allow this application to use your data
    as defined in their <a href="{{ .Data.Session.ClientInfo.PolicyURI }}" target="_blank">Privacy Policy</a>
    and <a href="{{ .Data.Session.ClientInfo.TosURI }}" target="_blank">Terms and Conditions</a>.
  {{ else if and .Data.Session.ClientInfo.PolicyURI (not .Data.Session.ClientInfo.TosURI) }}
    By accepting these permissions, you allow this app to use your data
    as defined in their <a href="{{.Data.Session.ClientInfo.PolicyURI }}" target="_blank">Privacy Policy</a>.
  {{ else if and (not .Data.Session.ClientInfo.PolicyURI) .Data.Session.ClientInfo.TosURI }}
    By accepting these permissions, you allow this app to use your data
    as defined in their <a href="{{ .Data.Session.ClientInfo.TosURI }}" target="_blank">Terms and Conditions</a>.
  {{ else }}
    By accepting these permissions, you allow this app to use your data.
  {{ end }}
</div>

<div class="buttons-container">
  <button class="text-button" type="submit" name="action" value="deny">Cancel</button>
  {{ if eq (len .Data.ServicesWithAuthorizationDetails) 0 }}
    <button class="contained-button" type="submit" name="action" value="allow">Allow access</button>
  {{ end }}
  {{ if gt (len .Data.ServicesWithAuthorizationDetails) 0 }}
    <button class="contained-button" id="continue">Continue</button>
  {{ end }}
</div>

{{ end }}
