{{ template "base" . }}

{{ define "title" }}{{ T "authorization.otp.index.title" }}{{ end }}

{{ define "content" }}

  {{ template "otp_scripts" . }}

  <div class="header-container">

    {{ template "header" .Config }}
  </div>

  <div class="card">
    {{ if and .Data.Session .Data.Session.ClientInfo .Data.Session.ClientInfo.Name }}
      <h1 class="header header-with-avatar">
        <div>{{ substr 0 1 .Data.Session.ClientInfo.Name }}</div>
        {{ .Data.Session.ClientInfo.Name }}
      </h1>
    {{ else }}
      <h1 class="header">{{ T "authorization.otp.index.log_in_to_your_account" }}</h1>
    {{ end }}

    <form action="?login_id={{ .Data.Session.ID }}" method="post">

      <div class="content content-otp" id="main-content">
        <div id="default-view-container">

          {{ if .Data.SelectedMethod.ID }}

            <div class="otp-send-header">
              {{ if eq .Data.SelectedMethod.Mechanism "email"}}
                <i class="material-icons otp-method-icon">mail_outline</i>
                <span>{{ T "authorization.otp.index.email_verification" }}</span>
              {{ else if eq .Data.SelectedMethod.Mechanism "sms" }}
                <i class="material-icons otp-method-icon">chat_bubble_outline</i>
                <span>{{ T "authorization.otp.index.sms_verification" }}</span>
              {{ end }}
            </div>

            <p>{{ T "authorization.otp.index.enter_the_code" }} {{ .Data.Address }}</p>

            <div class="form-field" id="otp-container">
              <div id="otp-input-container" class="form-field otp-input-container">
                <input type="hidden" name="otp" value="" id="otp-input">
              </div>
              <div class="footer-with-link">
                {{ T "authorization.otp.index.still_didnt_receive" }}
                <button id="resend-otp" type="submit" name="method" value="{{ .Data.SelectedMethod.ID }}">Resend Code</button>
              </div>
            </div>

            <button class="submit-button" type="submit" name="action" value="allow" id="sign-in">
              {{ T "authorization.otp.index.verify" }}
            </button>

            {{ if .Data.Message }}
              <div class="otp-verify-error">
                <i class="material-icons" tabindex="-1">error_outline</i>
                <span>{{ .Data.Message }}</span>
              </div>
            {{ end }}

            <div class="otp-send-options">
              <a role="button" tabindex="0" id="go-back-to-methods-button">{{ T "authorization.otp.index.other_verification_methods" }}</a>
            </div>

          {{ else if not .Data.Methods }}
            {{ T "authorization.otp.index.cannot_authenticate" }}
          {{ else }}
            {{ template "otp_select" . }}
          {{ end }}
        </div>

        <div id="other-verification-methods-container" class="non-visible">
          {{ template "otp_select" . }}
        </div>
      </div>
    </form>
  </div>

  {{ template "footer" . }}

{{ end }}
