{{ define "otp_select" }}

  <strong>{{ or .Data.Session.AuthenticationContext.name .Data.Session.AuthenticationContext.given_name .Data.Session.Subject }}</strong>
  <h2>{{ T "authorization.otp.otp_select.additional_verification_required" }}</h2>
  <p>{{ T "authorization.otp.otp_select.to_proceed" }}</p>

  <div class="otp-methods">
    {{ range .Data.Methods }}
      <div>
        <button type="submit" name="method" value="{{ .ID }}">
          {{ if eq .Mechanism "sms" }}
            <div class="otp-method-info">
              <i class="material-icons otp-method-icon">chat_bubble_outline</i>
              <div>
                <span>{{ T "authorization.otp.otp_select.sms_verification" }}</span>
                <p>{{ T "authorization.otp.otp_select.enter_single_use_code" }} {{ index $.Data.Addresses .ID }}</p>
              </div>
            </div>
            <i class="material-icons">chevron_right</i>
          {{ else if eq .Mechanism "email" }}
            <div class="otp-method-info">
              <i class="material-icons otp-method-icon">mail_outline</i>
              <div>
                <span>{{ T "authorization.otp.otp_select.email_verification" }}</span>
                <p>{{ T "authorization.otp.otp_select.enter_verification_code" }} {{ index $.Data.Addresses .ID }}</p>
              </div>
            </div>
            <i class="material-icons">chevron_right</i>
          {{ end }}
        </button>
      </div>
    {{ end }}
  </div>

{{ end }}