{{ template "base" . }}

{{ define "title" }}{{ T "identity.reset_totp.title" }}{{ end }}

{{ define "content" }}
  {{ template "submit_button_disabling_script" . }}
  {{ template "identity_reset_totp_disable_submit_script" . }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <div class="content" id="main-content">
      <form action="?login_id={{ .Data.SessionID }}&user_id={{ .Data.UserID}}&login_state={{ .Data.SessionState }}&server_id={{ .Data.ServerID }}&mode={{ .Data.Mode }}" method="post">

        <h1>{{ T "identity.reset_totp.reset_authenticator_app" }}</h1>

        <div class="form-field">
          <label for="text-field-identifier-input">
            {{ T "identity.reset_totp.email_or_mobile" }}
          </label>
          <input id="text-field-identifier-input" name="identifier" value="{{ .Data.Identifier}}">
        </div>

        {{ if .Data.CaptchaSiteKeyV3 }}
          {{ template "recaptcha-v3" . }}
        {{ end }}
        {{ if and .Data.CaptchaSiteKey (not .Data.CaptchaSiteKeyV3) }}
          <div class="recaptcha-container">
            <div class="g-recaptcha"
              data-sitekey="{{ .Data.CaptchaSiteKey }}"
              data-callback="enableSubmit"
              data-expired-callback="disableSubmit"
              data-error-callback="disableSubmit"
            ></div>
          </div>
        {{ end }}

        {{ range .Data.FormError.Errors }}
          {{ template "error_message" . }}
        {{ end }}

        <div class="buttons-container-full-width flex-row-reverse no-margin-bottom extra-top-margin">
          <button id="submit-next" class="submit-button" type="submit" {{ if .Data.CaptchaSiteKey }} disabled {{ end }} >
            {{ T "identity.reset_totp.next" }}
          </button>
          {{ if not .Data.ResetWithoutAuthentication }}
            <a href="{{ .Data.LoginPath }}" class="text-button-link">
              {{ T "identity.reset_totp.back" }}
            </a>
          {{ end }}
        </div>
      </form>
    </div>
  </div>

  {{ template "footer" . }}
{{ end }}
