{{ define "register_methods" }}

<div class="spacer-container extra-top-margin-small">
    <div>{{ T "identity.register.register_methods.or_register_with" }}</div>
</div>

{{ if and .Data.PasswordAuthEnabled (ne .Data.TargetViewV2 "password") }}
  <button class="href-card" type="submit" name="action" value="change_to_password_entry" form="sign-up-form">
    <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/password-icon-2.svg" alt="password method image"/>
      </span>
      <span>{{ T "identity.register.register_methods.password" }}</span>
    </div>
  </button>
{{ end }}

{{ if and .Data.PasskeyAuthEnabled (ne .Data.TargetViewV2 "passkey") }}
  <button class="href-card" type="submit" name="action" value="change_to_passkey_entry" form="sign-up-form">
    <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/webauthn-icon.svg" alt="passkey method image"/>
      </span>
      <span>{{ T "identity.register.register_methods.passkey" }}</span>
    </div>
  </button>
{{ end }}

{{ if and .Data.TOTPAuthEnabled (ne .Data.TargetViewV2 "totp") }}
  <button class="href-card" type="submit" name="action" value="change_to_totp_entry" form="sign-up-form">
    <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/smartphone-icon.svg" alt="authenticator app method image"/>
      </span>
      <span>{{ T "identity.register.register_methods.authenticator_app" }}</span>
    </div>
  </button>
{{ end }}

{{ if and .Data.CodeAuthEnabled (not (and (eq .Data.TargetViewV2 "otp") (eq .Data.OtpMode ""))) }}
  <button class="href-card" type="submit" name="action" value="change_to_verification_code_entry" form="sign-up-form">
    <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/otp-icon.svg" alt="verification code method image" />
      </span>
      <span>{{ T "identity.register.register_methods.verification_code" }}</span>
    </div>
  </button>
{{ end }}

{{ if and .Data.EmailOTPAuthEnabled (not (and (eq .Data.TargetViewV2 "otp") (eq .Data.OtpMode "email"))) }}
  <button class="href-card" type="submit" name="action" value="change_to_email_otp_entry" form="sign-up-form">
    <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/email-otp.svg" alt="email otp method image" />
      </span>
      <span>{{ T "identity.register.register_methods.email_otp" }}</span>
    </div>
  </button>
{{ end }}

{{ if and .Data.SmsOTPAuthEnabled (not (and (eq .Data.TargetViewV2 "otp") (eq .Data.OtpMode "sms"))) }}
  <button class="href-card" type="submit" name="action" value="change_to_sms_otp_entry" form="sign-up-form">
    <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/sms-otp.svg" alt="sms otp method image" />
      </span>
      <span>{{ T "identity.register.register_methods.sms_otp" }}</span>
    </div>
  </button>
{{ end }}

{{ if and (or .Data.PushAuthEnabled .Data.SymbolAuthEnabled .Data.QRCodeAuthEnabled) (ne .Data.TargetViewV2 "pair_device") }}
  <button class="href-card" type="submit" name="action" value="change_to_pair_device_entry" form="sign-up-form">
    <div>
      {{ if .Data.PushAuthEnabled }}
        <span class="href-card-avatar href-card-avatar-with-img small-icon">
          <img src="{{ .Config.Assets }}/static/images/push-icon.svg" alt="push method image" />
        </span>
      {{ end }}
      {{ if .Data.SymbolAuthEnabled }}
        <span class="href-card-avatar href-card-avatar-with-img small-icon">
          <img src="{{ .Config.Assets }}/static/images/symbol-icon.svg" alt="symbol method image" />
        </span>
      {{ end }}
      {{ if .Data.QRCodeAuthEnabled }}
        <span class="href-card-avatar href-card-avatar-with-img small-icon">
          <img src="{{ .Config.Assets }}/static/images/qr-code-icon.svg" alt="qr code method image" />
        </span>
      {{ end }}
      <span>{{ T "identity.register.register_methods.pair_device" }}</span>
    </div>
  </button>
{{ end }}

{{ end }}