{{ define "register_with_device" }}

  {{ template "identity_register_ux_improved_scripts" . }}

  <div class="steps-container">
    {{ T "identity.register.register_with_device.step" }} <b>2</b> {{ T "identity.register.register_with_device.of" }} <b>3</b>
  </div>

  <div class="setup-credential-header-container">
    <h1>{{ T "identity.register.register_with_device.set_up" }}</h1>
    {{ if .Data.Is2FAStep }}
      <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="second factor step" class="icon-2fa"/>
    {{ end }}
  </div>

  <input id="from-view-input" name="from-view" type="text" value="pair_device" form="sign-up-form" hidden>
  <input id="hidden-submit" name="action" value="submit" type="text" form="sign-up-form" hidden>

  <div class="form-field">
    <label for="entered-identifier">
      {{ T "identity.register.register_with_device.email_or_mobile" }}
    </label>
    <input id="entered-identifier" name="notused" autocomplete="off" data-lpignore="true" type="hidden"
           value="{{ .Data.EnteredIdentifier }}" disabled>
    <div class="username-div">{{ .Data.EnteredIdentifier }}</div>
  </div>

  {{ template "form" . }}

  <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px;">
    {{ if .Data.DevicePairingInvitationQR }}
      <img src="data:image/png;base64, {{ .Data.DevicePairingInvitationQR }}"/>
    {{ else }}
      <span class="loader"></span>
    {{ end }}
  </div>

  {{ if .Data.DevicePairingInvitationQR }}
    <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px; gap: 10px;">
      <a href="https://itunes.apple.com/us/app/acceptto-itsme/id893534370?mt=8" target="_blank">
        <img width=144 src="{{ .Config.Assets }}/static/images/app-store.svg" alt="person icon"/>
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.acceptto.mfa&hl=en" target="_blank">
        <img width=144 src="{{ .Config.Assets }}/static/images/google-play.svg" alt="person icon"/>
      </a>
    </div>
  {{ end }}

  <script src="{{ .Data.FayeURL }}/faye/faye.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var faye = new Faye.Client("{{ .Data.FayeURL }}/faye");
      var form = document.getElementById("sign-up-form");

      faye.subscribe("/messages/{{ .Data.DevicePairingInvitationChannel }}", function (data) {
        if (form) {
          form.submit();
        }
      });
    });
  </script>

  <div class="buttons-container-full-width extra-top-margin flex-row-reverse">
    <button type="submit" name="action" value="change_to_user" class="text-button" form="sign-up-form">
      {{ T "identity.register.register_with_device.back" }}
    </button>
  </div>

  {{ template "allow_skip_2fa_in_register" . }}

  {{ if .Data.AuthnModeSwitch }}
    {{ template "register_methods" . }}
  {{ end }}

{{ end }}
