{{ define "registration_not_allowed" }}

{{ template "identity_register_ux_improved_scripts" . }}

<h2 class="no-bottom-margin">Registration not allowed</h2>
<h3 class="no-bottom-margin">Please contact with your administrator</h3>

{{ end }}