{{ define "authn_otp_verify" }}

<div class="reverse-flex-container">
    <div>
        <input id="original-identifier-input" type="hidden" name="identifier" value="{{ .Data.Identifier }}">
        <input id="destination_address-input" type="hidden" name="destination_address" value="{{ .Data.ResolvedDestinationAddress }}">
        <input type="checkbox" name="{{ if eq .Data.OtpMode ""}}otpMode{{ else if eq .Data.OtpMode "sms" }}smsOtpMode{{ else }}emailOtpMode{{ end }}" id="otpMode" checked class="non-visible">

        <div class="log-in-header-container">
            <h1 id="log-in-header">{{ T "identity.login.authn_mode_otp_verify.verify_code" }}</h1>
            {{ if .Data.Is2FAStep }}
                <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="second factor step" class="icon-2fa"/>
            {{ end }}
        </div>

        {{ if .Data.IsForceAuthMode}}
            <div class="login-welcome-back-card">
                <img src="{{ .Config.Assets }}/static/images/person-icon.svg" alt="person icon"/>
                <div>
                <div class="login-welcome-back-card-name">
                    {{ .Data.UserDisplayName }}
                </div>
                </div>
            </div>
        {{ else }}
        <div class="form-field">
            <label for="text-field-username-input" class="label-with-link">
                <span id="username-label">{{ T "identity.login.authn_mode_otp_verify.user_identifier" }}</span>
                {{ if not .Data.Is2FAStep }}
                    <button id="not-you-button" type="submit" name="action" value="change_to_{{ if (not (eq .Data.OtpMode "" ))}}{{ .Data.OtpMode }}_{{ end }}otp">{{ T "identity.login.authn_mode_otp_verify.change" }}</button>
                {{ end }}
            </label>
            <div class="username-div">{{ .Data.Identifier }}</div>
        </div>
        {{ end }}

        <div class="form-field" id="otp-container">
            <div id="otp-input-container" class="form-field otp-input-container">
                <input type="hidden" name="otp" value="" id="otp-input">
            </div>
            {{ if or (eq .Data.UserID "") (gt .Data.NumberOfAddresses 0) }}
                <div class="footer-with-link">
                   {{ T "identity.login.authn_mode_otp_verify.still_didnt_receive" }}
                    <button id="resend-otp" type="submit" name="action" value="send_{{ if (not (eq .Data.OtpMode "" ))}}{{ .Data.OtpMode }}_{{ end }}otp">{{ T "identity.login.authn_mode_otp_verify.resend_code" }}</button>
                </div>
            {{ end }}
        </div>

        {{ template "reduce_mfa_prompts" . }}

        <div class="buttons-container-full-width flex-row-reverse">
            <button class="submit-button" type="submit" id="verify-button">{{ T "identity.login.authn_mode_otp_verify.continue" }}</button>
            {{ template "allow_skip_2fa_in_login" . }}
        </div>

        {{ if .Data.AuthnModeSwitch }}
            {{ template "authn_methods" . }}
        {{ end }}

        <input type="hidden" name="authn_mode" value="otp_send_view" id="authnView-input">
    </div>

    {{- $showAlternativeButton := or
        (and (eq .Data.OtpMode "") (or (eq .Data.UserID "") (gt .Data.NumberOfAddresses 1)))
        (and (eq .Data.OtpMode "email") (or (eq .Data.UserID "") (gt (len .Data.UserEmails) 1)))
        (and (eq .Data.OtpMode "sms") (or (eq .Data.UserID "") (gt (len .Data.UserMobiles) 1)))
    -}}
    {{- $hasErrors := eq (len .Data.FormError.Errors) 0 -}}

    {{ if or $hasErrors $showAlternativeButton }}
        <div class="notification-container" id="code-sent-notification">
            {{ if $hasErrors }}
                {{ if and (ne .Data.UserID "") (not .Data.OtpSent) }}
                    <span>{{ T "identity.login.authn_mode_otp_verify.code_not_sent" }}{{ if eq .Data.NumberOfAddresses 0 }}. {{ T "identity.login.authn_mode_otp_verify.no_addresses_defined" }}
                        {{ else if and (eq .Data.OtpMode "email") (eq (len .Data.UserEmails) 0)}}. {{ T "identity.login.authn_mode_otp_verify.no_emails_defined" }}
                        {{ else if and (eq .Data.OtpMode "sms") (eq (len .Data.UserMobiles) 0)}}. {{ T "identity.login.authn_mode_otp_verify.no_mobiles_defined" }}
                        {{ end }}
                    </span>
                {{ else }}
                    <i class="material-icons">send</i>
                    <span>{{ T "identity.login.authn_mode_otp_verify.code_sent" }} {{ .Data.BlurredResolvedDestinationAddress }}</span>
                {{ end }}
            {{ else }}
                <span></span>
            {{ end }}

            {{ if $showAlternativeButton}}
                <button id="use-alternative-address-button" type="submit" name="action" value="change_to_{{ if (not (eq .Data.OtpMode "" ))}}{{ .Data.OtpMode }}_{{ end }}otp_use_alternative">{{ T "identity.login.authn_mode_otp_verify.use_alternative" }}</button>
            {{ end }}
        </div>
    {{ end }}
</div>

{{ end }}
