{{ define "authn_qr_code_push_wait" }}

  <div class="notification-container" id="code-sent-notification">
    <i class="material-icons">send</i>
    <span>{{ T "identity.login.authn_mode_push.sent" }}</span>
  </div>

  <div class="log-in-header-container">
    <h1 id="log-in-header">
      {{ T "identity.login.authn_mode_push.confirm" }}
    </h1>
    {{ if .Data.Is2FAStep }}
      <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="second factor icon" class="icon-2fa"/>
    {{ end }}
  </div>

  <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px;">
    <span class="loader"></span>
  </div>

  {{ template "reduce_mfa_prompts" . }}

  {{ if .Data.AuthnModeSwitch }}
    {{ template "authn_methods" . }}
  {{ end }}

  <input type="checkbox" name="qrCodePushMode" id="qrCodePushMode" checked class="non-visible">
  <input id="original-identifier-input" type="hidden" name="identifier" value="{{ .Data.Identifier }}">

  <script src="{{ .Data.FayeURL }}/faye/faye.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var faye = new Faye.Client("{{ .Data.FayeURL }}/faye");
      var form = document.getElementById("sign-in-form");
      faye.subscribe("/messages/{{ .Data.Channel }}", function (data) {
        form.submit();
      });
    });
  </script>

  <div class="non-visible" id="version" data-version="identity-pool-login"></div>
{{ end }}