{{ define "authn_web_authn" }}

    <div class="log-in-header-container">
        <h1 id="log-in-header" {{ if .Data.IsForceAuthMode}}class="no-margin-bottom"{{ end }}>
            {{ if .Data.IsForceAuthMode}}{{ T "identity.login.authn_mode_web_authn.confirm" }}{{ else }}{{ T "identity.login.authn_mode_web_authn.log_in" }}{{ end }} {{ T "identity.login.authn_mode_web_authn.with_passkey" }}
        </h1>
        {{ if .Data.Is2FAStep }}
            <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="second factor icon" class="icon-2fa"/>
        {{ end }}
    </div>

    {{ if .Data.IsForceAuthMode}}
        {{ if .Data.IsSelfResetCredentialsAllowed }}
            <label class="label-with-link">
                <span id="empty-webauthn-label"></span>
                <a href="{{ .Data.ResetWebAuthnPath }}" id="forgot-passkey" class="input-above-link">{{ T "identity.login.authn_mode_web_authn.no_access" }}</a>
            </label>
        {{ end }}
        <div class="login-welcome-back-card">
            <img src="{{ .Config.Assets }}/static/images/person-icon.svg" alt="person icon"/>
            <div>
            <div class="login-welcome-back-card-name">
                {{ .Data.UserDisplayName }}
            </div>
            </div>
        </div>
    {{ else }}
        <div class="form-field">
            <label for="text-field-username-input" class="label-with-link">
                <span id="username-label">{{ T "identity.login.authn_mode_web_authn.username_label" }}</span>
                {{ if .Data.IsSelfResetCredentialsAllowed }}
                    <a href="{{ .Data.ResetWebAuthnPath }}" id="forgot-passkey" class="input-above-link">{{ T "identity.login.authn_mode_web_authn.no_access" }}</a>
                {{ end }}
            </label>
            {{ if .Data.Is2FAStep }}
                <input id="text-field-username-input" name="identifier" autocomplete="off" data-lpignore="true" type="hidden" value="{{ .Data.Identifier }}" disabled>
                <div class="username-div">{{ .Data.Identifier }}</div>
            {{ else }}
                <input id="text-field-username-input" name="identifier" value="{{ .Data.Identifier }}">
            {{ end }}
        </div>
    {{ end }}

    {{ if or (.Data.IsForceAuthMode) (.Data.Is2FAStep) }}
        <input id="user-id" type="hidden" name="user_id" value={{ .Data.UserID }} >
    {{ end }}

    {{ template "reduce_mfa_prompts" . }}

    <div class="buttons-container-full-width flex-row-reverse">
        <button class="submit-button" type="submit" id="web-authn-sign-in-button">
            {{ T "identity.login.authn_mode_web_authn.continue" }}
        </button>
        {{ template "allow_skip_2fa_in_login" . }}
    </div>

    {{ if .Data.AuthnModeSwitch }}
        {{ template "authn_methods" . }}
    {{ end }}

    <input type="checkbox" name="webAuthnMode" id="webAuthnMode" checked class="non-visible">
    <input type="hidden" name="authn_mode" value="web_authn_view" id="authnView-input">
    <input type="hidden" name="web_authn_error" id="hidden-text-field-webauthn-error">

{{ end }}