{{ define "authn_push_send" }}
  <div class="log-in-header-container">
      <h1 id="log-in-header">
        {{ T "identity.login.authn_mode_push.log_in" }}
      </h1>
      {{ if .Data.Is2FAStep }}
          <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="second factor step" class="icon-2fa"/>
      {{ end }}
  </div>

  {{ if .Data.IsForceAuthMode}}
      <div class="login-welcome-back-card">
        <img src="{{ .Config.Assets }}/static/images/person-icon.svg" alt="person icon"/>
        <div>
          <div class="login-welcome-back-card-name">
            {{ .Data.UserDisplayName }}
          </div>
        </div>
      </div>
  {{ else }}
  <div class="form-field">
    <label for="text-field-username-input" class="label-with-link">
      <span id="username-label">{{ T "identity.login.authn_mode_push.username_label" }}</span>
    </label>
      {{ if .Data.Is2FAStep }}
        <input id="text-field-username-input" name="identifier" autocomplete="off" data-lpignore="true" type="hidden" value="{{ .Data.Identifier }}" disabled>
        <div class="username-div">{{ .Data.Identifier }}</div>
      {{ else }}
        <input id="text-field-username-input" name="identifier" value="{{ .Data.Identifier }}">
      {{ end }}
  </div>
  {{ end }}

  {{ template "reduce_mfa_prompts" . }}

    <div class="buttons-container-full-width flex-row-reverse">
      <button class="submit-button" type="submit" name="action" value="send_push" id="send-code-button">
        {{ T "identity.login.authn_mode_push.continue" }}
      </button>
      {{ template "allow_skip_2fa_in_login" . }}
    </div>

  {{ if .Data.AuthnModeSwitch }}
    {{ template "authn_methods" . }}
  {{ end }}

  <input type="hidden" name="authn_mode" value="push_send_view" id="authnView-input">

{{ end }}