{{ define "authn_password" }}

  <h2 id="log-in-header">Login to Continue</h2>

  <div class="form-field">
    <label for="text-field-username-input" class="label-with-link">
      <span id="username-label">Username | Email | Phone</span>
      <button id="not-you-button" type="button" class="non-visible">Not You?</button>
    </label>
    <input id="text-field-username-input" name="identifier" value="{{ .Data.Identifier }}">
  </div>

  <div class="form-field" id="password-container">
    <label for="text-field-password-input">
      <span id="password-label">Password</span>
      <a href="{{ .Data.ResetPasswordPath }}" id="forgot-password" class="input-above-link">Forgot?</a>
    </label>

    <div class="input-with-button">
      <input id="text-field-password-input" name="password" type="password">
      <button id="toggle-password-visibility-button" type="button" aria-label="Toggle password visibility">
        <i id="toggle-password-visibility-icon" class="material-icons">visibility_off</i>
      </button>
    </div>
  </div>

  <button class="submit-button" type="submit" id="sign-in-button">
    Continue
  </button>

  {{ if .Data.AuthnModeSwitch }}

    <div id="authn-mode-switch-container">


      <div class="spacer-container">
        <div>or log in with</div>
      </div>

      <div class="form-field">

        {{ if .Data.AuthenticationMechanismsAvailability.otp }}
          <button class="href-card" type="submit" name="action" value="change_to_otp" id="login-option-code" style="display: flex">
            <div>
              <span class="href-card-avatar href-card-avatar-with-img">
                <img src="{{ .Config.Assets }}/static/images/otp-icon.svg" alt="icon" />
              </span>
              <span>Verification Code</span>
            </div>
            <i class="material-icons">navigate_next</i>
          </button>
        {{ end }}

        {{ if .Data.AuthenticationMechanismsAvailability.webauthn }}
          <button class="href-card" type="submit" name="action" value="change_to_web_authn" id="login-option-web-authn">
            <div>
              <span class="href-card-avatar href-card-avatar-with-img">
                <img src="{{ .Config.Assets }}/static/images/webauthn-icon.svg" alt="icon" />
              </span>
              <span>Passkey</span>
            </div>
            <i class="material-icons">navigate_next</i>
          </button>
        {{ end }}

      </div>
    </div>
  {{ end }}

  <input type="checkbox" name="passwordMode" id="passwordMode" checked class="non-visible">
  <input type="hidden" name="authn_mode" value="password_view" id="authnView-input">

  <div class="non-visible" id="version" data-version="identity-pool-login"></div>

{{ end }}
