{{ define "authn_web_authn" }}

  <h2 id="header">Passkey</h2>

  <div class="form-field">
    <label for="text-field-username-input" class="label-with-link">
      <span id="username-label">Username | Email | Phone</span>
      <button id="not-you-button" type="button" class="non-visible">Not You?</button>
    </label>
    <input id="text-field-username-input" name="identifier" value="{{ .Data.Identifier }}">
  </div>

  <button class="submit-button" type="submit" id="web-authn-sign-in-button">
    Continue
  </button>

  {{ if .Data.AuthnModeSwitch }}

    <div id="authn-mode-switch-container">

      <div class="spacer-container">
        <div>or log in with</div>
      </div>

      <div class="form-field">

        {{ if .Data.AuthenticationMechanismsAvailability.password }}
          <button class="href-card" type="submit" name="action" value="change_to_password" id="login-option-password">
            <div>
              <span class="href-card-avatar href-card-avatar-with-img">
                <img src="{{ .Config.Assets }}/static/images/password-icon.svg" alt="icon" />
              </span>
              <span>Password</span>
            </div>
            <i class="material-icons">navigate_next</i>
          </button>
        {{ end }}

        {{ if .Data.AuthenticationMechanismsAvailability.otp }}
          <button class="href-card" type="submit" name="action" value="change_to_otp" id="login-option-code" style="display: flex">
            <div>
                <span class="href-card-avatar href-card-avatar-with-img">
                <img src="{{ .Config.Assets }}/static/images/otp-icon.svg" alt="icon" />
                </span>
                <span>Verification Code</span>
            </div>
            <i class="material-icons">navigate_next</i>
          </button>
        {{ end }}

      </div>
    </div>
  {{ end }}

  <input type="checkbox" name="webAuthnMode" id="webAuthnMode" checked class="non-visible">
  <input type="hidden" name="authn_mode" value="web_authn_view" id="authnView-input">
  <input type="hidden" name="web_authn_error" id="hidden-text-field-webauthn-error">

{{ end }}
