{{ define "authn_use_otp_alternative" }}

  <h2 id="log-in-header">Provide alternative</h2>

  <div class="form-field">
    <label for="text-field-username-input" class="label-with-link">
      <span id="username-label">Email | Phone</span>
    </label>
    <input id="text-field-username-input" name="destination_address" value="{{ .Data.ResolvedDestinationAddress }}">
  </div>

  <input id="original-identifier-input" type="hidden" name="identifier" value="{{ .Data.Identifier }}">

  <button class="submit-button" type="submit" name="action" value="send_otp" id="send-code-button">
    Send Code
  </button>

{{ end }}
