{{ define "authn_methods" }}

    <div id="authn-mode-switch-container">
      <div class="spacer-container">
        <div>{{ T "identity.login.authn_methods.or" }}{{ if not .Data.IsForceAuthMode}} {{ T "identity.login.authn_methods.log_in_with" }}{{ end }}</div>
      </div>

      <div class="form-field">
        {{ if .Data.AuthenticationMechanismsAvailability.password }}
          {{ if ne .Data.AuthnView "password_view" }}
              <button class="href-card" type="submit" name="action" value="change_to_password" id="login-option-password">
                <div>
                  <span class="href-card-avatar href-card-avatar-with-img small-icon">
                    <img src="{{ .Config.Assets }}/static/images/password-icon-2.svg" alt="password method image" />
                  </span>
                  <span>{{ T "identity.login.authn_methods.password" }}</span>
                </div>
                <i class="material-icons">navigate_next</i>
              </button>
          {{ end }}
        {{ end }}

        {{ if .Data.AuthenticationMechanismsAvailability.otp }}
            {{ if and ( not ( and (eq .Data.AuthnView "otp_send_view") (eq .Data.OtpMode ""))) (not ( and (eq .Data.AuthnView "otp_verify_view") (eq .Data.OtpMode ""))) (not ( and (eq .Data.AuthnView "otp_use_alternative_view") (eq .Data.OtpMode ""))) }}
                <button class="href-card" type="submit" name="action" value="{{ if or .Data.IsForceAuthMode .Data.Is2FAStep (not (eq .Data.Identifier ""))}}send_otp{{ else }}change_to_otp{{ end }}" id="login-option-code" style="display: flex">
                    <div>
                        <span class="href-card-avatar href-card-avatar-with-img small-icon">
                            <img src="{{ .Config.Assets }}/static/images/otp-icon.svg" alt="verification code method image" />
                        </span>
                        <span>{{ T "identity.login.authn_methods.verification_code" }}</span>
                    </div>
                    <i class="material-icons">navigate_next</i>
                </button>
            {{ end }}
        {{ end }}

        {{ if .Data.AuthenticationMechanismsAvailability.webauthn }}
          {{if ne .Data.AuthnView "web_authn_view" }}
              <button class="href-card" type="submit" name="action" value="change_to_web_authn" id="login-option-web-authn">
                <div>
                  <span class="href-card-avatar href-card-avatar-with-img small-icon">
                    <img src="{{ .Config.Assets }}/static/images/webauthn-icon.svg" alt="passkey method image" />
                  </span>
                  <span>{{ T "identity.login.authn_methods.passkey" }}</span>
                </div>
                <i class="material-icons">navigate_next</i>
              </button>
          {{ end }}
        {{ end }}

        {{ if .Data.AuthenticationMechanismsAvailability.totp }}
          {{if ne .Data.AuthnView "totp_view" }}
              <button class="href-card" type="submit" name="action" value="change_to_totp" id="login-option-totp">
                <div>
                  <span class="href-card-avatar href-card-avatar-with-img small-icon">
                    <img src="{{ .Config.Assets }}/static/images/smartphone-icon.svg" alt="authenticator code method image" />
                  </span>
                  <span>{{ T "identity.login.authn_methods.authenticator_code" }}</span>
                </div>
                <i class="material-icons">navigate_next</i>
              </button>
          {{ end }}
        {{ end }}

        {{ if .Data.AuthenticationMechanismsAvailability.email_otp }}
          {{ if and ( not ( and (eq .Data.AuthnView "otp_send_view") (eq .Data.OtpMode "email"))) (not ( and (eq .Data.AuthnView "otp_verify_view") (eq .Data.OtpMode "email"))) (not ( and (eq .Data.AuthnView "otp_use_alternative_view") (eq .Data.OtpMode "email"))) }}
              <button class="href-card" type="submit" name="action" value="{{ if or .Data.IsForceAuthMode .Data.Is2FAStep (not (eq .Data.Identifier ""))}}send_email_otp{{ else }}change_to_email_otp{{ end }}" id="login-option-code" style="display: flex">
                  <div>
                    <span class="href-card-avatar href-card-avatar-with-img small-icon">
                        <img src="{{ .Config.Assets }}/static/images/email-otp.svg" alt="verification code method image" />
                    </span>
                      <span>{{ T "identity.login.authn_methods.email_otp" }}</span>
                  </div>
                  <i class="material-icons">navigate_next</i>
              </button>
          {{ end }}
        {{ end }}

        {{ if .Data.AuthenticationMechanismsAvailability.sms_otp }}
          {{ if and ( not ( and (eq .Data.AuthnView "otp_send_view") (eq .Data.OtpMode "sms"))) (not ( and (eq .Data.AuthnView "otp_verify_view") (eq .Data.OtpMode "sms"))) (not ( and (eq .Data.AuthnView "otp_use_alternative_view") (eq .Data.OtpMode "sms"))) }}
              <button class="href-card" type="submit" name="action" value="{{ if or .Data.IsForceAuthMode .Data.Is2FAStep (not (eq .Data.Identifier ""))}}send_sms_otp{{ else }}change_to_sms_otp{{ end }}" id="login-option-code" style="display: flex">
                  <div>
                    <span class="href-card-avatar href-card-avatar-with-img small-icon">
                        <img src="{{ .Config.Assets }}/static/images/sms-otp.svg" alt="verification code method image" />
                    </span>
                      <span>{{ T "identity.login.authn_methods.sms_otp" }}</span>
                  </div>
                  <i class="material-icons">navigate_next</i>
              </button>
          {{ end }}
        {{ end }}

        {{ if .Data.AuthenticationMechanismsAvailability.push }}
          {{ if and (not (eq .Data.AuthnView "push_send_view" )) (not (eq .Data.AuthnView "push_wait_view" )) }}
              <button class="href-card" type="submit" name="action" value="{{ if or .Data.IsForceAuthMode .Data.Is2FAStep (not (eq .Data.Identifier ""))}}send_push{{ else }}change_to_push{{ end }}" id="login-option-push" style="display: flex">
                <div>
                  <span class="href-card-avatar href-card-avatar-with-img small-icon">
                    <img src="{{ .Config.Assets }}/static/images/push-icon.svg" alt="push method image" />
                  </span>
                  <span>{{ T "identity.login.authn_methods.push" }}</span>
                </div>
                <i class="material-icons">navigate_next</i>
              </button>
          {{ end }}
        {{ end }}

        {{ if .Data.AuthenticationMechanismsAvailability.symbol }}
          {{ if and (not (eq .Data.AuthnView "symbol_send_view" )) (not (eq .Data.AuthnView "symbol_wait_view" )) }}
              <button class="href-card" type="submit" name="action" value="{{ if or .Data.IsForceAuthMode .Data.Is2FAStep (not (eq .Data.Identifier ""))}}send_symbol{{ else }}change_to_symbol{{ end }}" id="login-option-symbol" style="display: flex">
                <div>
                  <span class="href-card-avatar href-card-avatar-with-img small-icon">
                    <img src="{{ .Config.Assets }}/static/images/symbol-icon.svg" alt="symbol method image" />
                  </span>
                  <span>{{ T "identity.login.authn_methods.symbol" }}</span>
                </div>
                <i class="material-icons">navigate_next</i>
              </button>
          {{ end }}
        {{ end }}

        {{ if .Data.AuthenticationMechanismsAvailability.qr_code }}
          {{ if and (not (eq .Data.AuthnView "qr_code_scan_view" )) (not (eq .Data.AuthnView "qr_code_push_wait_view" )) }}
              <button class="href-card" type="submit" name="action" value="change_to_qr_code" id="login-option-qr_code" style="display: flex">
                <div>
                  <span class="href-card-avatar href-card-avatar-with-img small-icon">
                    <img src="{{ .Config.Assets }}/static/images/qr-code-icon.svg" alt="qr_code method image" />
                  </span>
                  <span>{{ T "identity.login.authn_methods.qr_code" }}</span>
                </div>
                <i class="material-icons">navigate_next</i>
              </button>
          {{ end }}
        {{ end }}

      </div>
    </div>

{{ end }}