{{ define "authn_password" }}

    <div class="log-in-header-container">
        <h1 id="log-in-header">{{ if .Data.IsForceAuthMode}}{{ T "identity.login.authn_mode_password.confirm" }}{{ else }}{{ T "identity.login.authn_mode_password.log_in" }}{{ end }} {{ T "identity.login.authn_mode_password.with_password" }}</h1>
        {{ if .Data.Is2FAStep }}
            <img src="{{ .Config.Assets }}/static/images/2fa-icon.svg" alt="second factor step" class="icon-2fa"/>
        {{ end }}
    </div>

    {{ if .Data.IsForceAuthMode}}
        <div class="login-welcome-back-card">
            <img src="{{ .Config.Assets }}/static/images/person-icon.svg" alt="person icon"/>
            <div>
            <div class="login-welcome-back-card-name">
                {{ .Data.UserDisplayName }}
            </div>
            </div>
        </div>
    {{ else }}
        <div class="form-field">
            <label for="text-field-username-input" class="label-with-link">
                <span id="username-label">{{ T "identity.login.authn_mode_password.username_label" }}</span>
            </label>
            {{ if .Data.Is2FAStep }}
                <input id="text-field-username-input" name="identifier" autocomplete="off" data-lpignore="true" type="hidden" value="{{ .Data.Identifier }}" disabled>
                <div class="username-div">{{ .Data.Identifier }}</div>
            {{ else }}
                <input id="text-field-username-input" name="identifier" autocomplete="off" value="{{ .Data.Identifier }}">
            {{ end }}
        </div>
    {{ end }}

    <div class="form-field" id="password-container">
        <label for="text-field-password-input">
            <span id="password-label">{{ T "identity.login.authn_mode_password.password_label" }}</span>
            {{ if .Data.IsSelfResetCredentialsAllowed }}
                <a href="{{ .Data.ResetPasswordPath }}" id="forgot-password" class="input-above-link" tabindex="0">{{ T "identity.login.authn_mode_password.forgot" }}</a>
            {{ end }}
        </label>

        <div class="input-with-button">
            <input id="text-field-password-input" name="password" type="password" autocomplete="off">
            <button id="toggle-password-visibility-button" type="button" aria-label="{{ T "identity.login.authn_mode_password.toggle_password_visibility" }}">
                <i id="toggle-password-visibility-icon" class="material-icons">visibility_off</i>
            </button>
        </div>
    </div>

    {{ template "reduce_mfa_prompts" . }}

    <div class="buttons-container-full-width flex-row-reverse">
        <button class="submit-button" type="submit" id="sign-in-button">
            {{ T "identity.login.authn_mode_password.continue" }}
        </button>
        {{ template "allow_skip_2fa_in_login" . }}
    </div>

    {{ if .Data.AuthnModeSwitch }}
        {{ template "authn_methods" . }}
    {{ end }}

    <input type="checkbox" name="passwordMode" id="passwordMode" checked class="non-visible">
    <input type="hidden" name="authn_mode" value="password_view" id="authnView-input">

    <div class="non-visible" id="version" data-version="identity-pool-login"></div>

{{ end }}
