{{ define "activation_methods" }}

<div class="spacer-container extra-top-margin-small">
  <div>{{ T "identity.activate.activation_methods.or_register_with" }}</div>
</div>

{{ if and .Data.PasswordAuthEnabled (ne .Data.Mode "password") }}
  <button class="href-card" type="submit" name="action" value="change_to_password">
    <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/password-icon-2.svg" alt="password method image" />
      </span>
        <span>{{ T "identity.activate.activation_methods.password" }}</span>
    </div>
  </button>
{{ end }}

{{ if and .Data.PasskeyAuthEnabled (ne .Data.Mode "web_authn") }}
  <button class="href-card" type="submit" name="action" value="change_to_web_authn">
    <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/webauthn-icon.svg" alt="passkey method image" />
      </span>
      <span>{{ T "identity.activate.activation_methods.passkey" }}</span>
    </div>
  </button>
{{ end }}

{{ if and .Data.TOTPAuthEnabled (ne .Data.Mode "totp") }}
  <button class="href-card" type="submit" name="action" value="change_to_totp">
    <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/smartphone-icon.svg" alt="authentication app method image" />
      </span>
      <span>{{ T "identity.activate.activation_methods.authenticator_app" }}</span>
    </div>
  </button>
{{ end }}


{{ if and (or .Data.PushAuthEnabled .Data.SymbolAuthEnabled .Data.QRCodeAuthEnabled) (ne .Data.Mode "pair_device") }}
  <button class="href-card" type="submit" name="action" value="change_to_pair_device">
    <div>
      {{ if  .Data.PushAuthEnabled }}
        <span class="href-card-avatar href-card-avatar-with-img small-icon">
          <img src="{{ .Config.Assets }}/static/images/push-icon.svg" alt="push method image" />
        </span>
      {{ end }}
      {{ if  .Data.SymbolAuthEnabled }}
        <span class="href-card-avatar href-card-avatar-with-img small-icon">
          <img src="{{ .Config.Assets }}/static/images/symbol-icon.svg" alt="symbol method image" />
        </span>
      {{ end }}
      {{ if  .Data.QRCodeAuthEnabled }}
        <span class="href-card-avatar href-card-avatar-with-img small-icon">
          <img src="{{ .Config.Assets }}/static/images/qr-code-icon.svg" alt="qr code method image" />
        </span>
      {{ end }}
      <span>{{ T "identity.activate.activation_methods.pair_device" }}</span>
    </div>
  </button>
{{ end }}

{{ if .Data.OTPAuthEnabled }}
  <button class="href-card" type="submit" name="action" value="skip">
    <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/otp-icon.svg" alt="verification code method image" />
      </span>
      <span>{{ T "identity.activate.activation_methods.verification_code" }}</span>
    </div>
  </button>
{{ end }}

{{ if and .Data.EmailOTPAuthEnabled (ne .Data.Mode "email") }}
  <button class="href-card" type="submit" name="action" value="change_to_email_otp">
    <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/email-otp.svg" alt="verification code method image" />
      </span>
      <span>{{ T "identity.activate.activation_methods.email_otp" }}</span>
    </div>
  </button>
{{ end }}

{{ if and .Data.SmsOTPAuthEnabled (ne .Data.Mode "mobile") }}
  <button class="href-card" type="submit" name="action" value="change_to_sms_otp">
    <div>
      <span class="href-card-avatar href-card-avatar-with-img small-icon">
        <img src="{{ .Config.Assets }}/static/images/sms-otp.svg" alt="verification code method image" />
      </span>
      <span>{{ T "identity.activate.activation_methods.sms_otp" }}</span>
    </div>
  </button>
{{ end }}

{{ end }}