{{ define "identity_activate_disable_submit_empty_passwords_script" }}

  <script nonce="{{.Config.Nonce}}">

    document.addEventListener("DOMContentLoaded", onPageLoad);
    var inputNodes;

    function onPageLoad() {
      loadInputNodes();
      disableButtonsOnEmptyInputs();
      setButtonEnablementOnInput();
    }

    function loadInputNodes() {
      inputNodes = Array.from(document.querySelectorAll("input"));
    }

    function setButtonEnablementOnInput() {
      inputNodes.forEach(inputNode => {
        inputNode.addEventListener('input', disableButtonsOnEmptyInputs);
      });
    }

    function disableButtonsOnEmptyInputs() {
      var submitButton = document.getElementById("sign-up-button");
      if(!!submitButton) {
        var shouldDisableSubmit = inputNodes.some(inputNode => {
          return !inputNode.value;
        });

        submitButton.disabled = shouldDisableSubmit;
      }
    }

  </script>
{{ end }}
