{{ template "base" . }}

{{ define "title" }} User Registration {{ end }}

{{ define "content" }}
  {{ $mode := .Data.Mode }}

  {{ $otpMode := "" }}
  {{ if eq $mode "email" }}
    {{ $otpMode = "email" }}
  {{ else if eq $mode "mobile" }}
    {{ $otpMode = "sms" }}
  {{ end }}

  {{ $partialData := dict "Config" .Config "OtpMode" $otpMode }}

  {{ template "identity_activate_scripts" . }}
  {{ template "identifier_validate_script_in_activate" $partialData }}

  <form action="?login_id={{ .Data.SessionID }}&user_id={{ .Data.UserID}}&login_state={{ .Data.SessionState }}&code={{ .Data.Code }}&promptForEmailAddress={{ .Data.PromptForEmail }}&promptForMobileAddress={{ .Data.PromptForMobile }}&promptForTotp={{ .Data.PromptForTotp }}&promptForPassword={{ .Data.PromptForPassword }}&promptForWebAuthn={{ .Data.PromptForWebAuthn }}&promptForDevicePairing={{ .Data.PromptForDevicePairing }}&identifier={{ .Data.Identifier }}&server_id={{ .Data.ServerID }}&go_to={{ .Data.GoTo }}&post_activation_url={{ .Data.PostAuthenticationURL }}" method="post" id="sign-up-form" onsubmit="return handleSubmit(event)">
    <div class="header-container">
      {{ template "header" .Config }}
    </div>


    <div class="card">
      <div class="content" id="main-content">

        {{ range .Data.FormError.Errors }}
          <div class="error-container">
            <i class="material-icons">error_outline</i>
            {{ .Message }}
          </div>
        {{ end }}

        {{ if not .Data.Code }}
          {{ template "setup_with_otp" . }}
        {{ else if eq $mode "web_authn" }}
          {{ template "setup_with_web_authn" . }}
        {{ else if eq $mode "password" }}
          {{ template "setup_with_password" . }}
        {{ else if eq $mode "totp" }}
          {{ template "setup_with_totp" . }}
        {{ else if eq $mode "pair_device" }}
          {{ template "setup_with_device" . }}
        {{ else if eq $mode "email" }}
          {{ template "setup_with_email" . }}
        {{ else if eq $mode "mobile" }}
          {{ template "setup_with_mobile" . }}
        {{ end }}
      </div>
    </div>
  </form>

  {{ template "footer" . }}
{{ end }}