{{ define "setup_with_otp" }}

    <h2 class="header">Activate</h2>

    <div class="header-info">Enter the security code sent to your identifier.</div>

    <div class="form-field">
        <label for="text-field-identifier-input" class="label-with-link" value="{{ .Data.Identifier }}">
            Verification code
            <a href="{{ .Data.ResendPath }}">Resend code</a>
        </label>

        <div class="input-with-button input-with-prefix-button">
            <button type="button" tabindex="-1">
            <i class="material-icons">vpn_key</i>
            </button>
            <input type="text" inputmode="numeric" autocomplete="one-time-code" aria-label="Verificaton code" name="otp" id="text-field-otp-input">
        </div>
    </div>

    <button class="submit-button" type="submit" id="sign-up-button">
        <i class="material-icons">lock</i>
        Activate
    </button>

{{ end }}