{{ define "demo-unauthorized" }}

<div class="content demo-unauthorized-container">
  {{ if .Data.DevicePollError }}
    The authorization hasn't been approved yet.
    <pre>{{ .Data.DevicePollError }}</pre>
  {{ else }}
    <p>
      Open <a href="{{ .Data.Device.VerificationURI }}">{{ .Data.Device.VerificationURI }}</a><br/>
      and enter the following code:
    </p>
    <pre>{{ .Data.Device.UserCode }}</pre>
  {{ end }}

  <form action="?action=device_poll" method="post">
    <button type="submit" class="submit-button" id="sign-in">
      {{ if .Data.DevicePollError }} Retry {{ else }} Next {{ end }}
    </button>
  </form>
</div>

{{ end }}
