{{ template "base" . }}

{{ define "title" }}Demo{{ end }}

{{ define "content" }}
  {{ template "demo_scripts" . }}

  {{ if .Data.FlowCompleted }}
    <div class="header-container">
      {{ template "header" .Styling }}

      <a href="?" class="logout-container">
        <button class="submit-button" type="button" id="sign-in">Sign out</button>
      </a>
    </div>

    <div class="custom-header">
      <div>
        <h2>Demo Application</h2>

        <div class="demo-container">
          <div class="demo-info">
            <i class="material-icons">error_outline</i>
            <div class="demo-info-text">
              <p><b>You have logged in to the Demo app</b></p>
              <p>
                The information below is used for demo and testing purposes.
                You can view aggregated claims or the tokens issued by ACP below.
              </p>
            </div>
          </div>
        </div>

       <div class="tabs-container">
        <button id="claims-tab" role="tab" data-tabid="claims" class="tab-button tab-button-active">
          Claims
        </button>

        <button id="access-token-tab" role="tab" data-tabid="access-token" class="tab-button">
          Access Token
        </button>

        {{ if .Data.IDTokenRaw }}
          <button id="id-token-tab" role="tab" data-tabid="id-token" class="tab-button">
            ID Token
          </button>
        {{ end }}

        {{ if .Data.RefreshTokenRaw }}
          <button id="refresh-token-tab" role="tab" data-tabid="refresh-token" class="tab-button">
            Refresh Token
          </button>
        {{ end }}
        </div>
      </div>
    </div>

    <div class="demo-content">
      {{ template "demo-claims-tab" . }}
      {{ template "demo-access-token-tab" . }}
      {{ template "demo-id-token-tab" . }}
      {{ template "demo-refresh-token-tab" . }}
    </div>

  {{ else }}
    <div class="header-container">
      {{ template "header" .Config }}
    </div>

    <div class="card">

      <h3 class="header">Demo {{ .flow }} application</h3>

      {{ if eq .Data.Flow "device" }}
        {{ template "demo-unauthorized" . }}
      {{ else }}
        {{ template "demo-login" . }}
      {{ end }}
    </div>
  {{ end }}
{{ end }}
