{{ template "base" . }}

{{ define "title" }}Demo{{ end }}

{{ define "content" }}
  {{ template "demo_scripts" . }}

  {{ if .Data.FlowCompleted }}
      {{ if .Data.OrganizationID }}
        {{ template "demo-sample-startup-app" . }}
      {{ else }}
        {{ template "demo-claims-and-tokens" . }}
      {{ end }}
  {{ else }}
    <div class="header-container">
      {{ template "header" .Config }}
    </div>

    <div class="card">

      <h3 class="header">Demo {{ .flow }} application</h3>

      {{ if eq .Data.Flow "device" }}
        {{ template "demo-unauthorized" . }}
      {{ else }}
        {{ template "demo-login" . }}
      {{ end }}
    </div>
  {{ end }}
{{ end }}
