{{ define "demo_scripts" }}

<script nonce="{{.Config.Nonce}}">

  function changeTab(selectedContentId) {
    return (e) => {
      var tabButtons = document.querySelectorAll('button[role="tab"]');
      tabButtons.forEach(function (tab) {
        var contentDivId = tab.getAttribute("data-tabid");
        var contentDiv = document.querySelector("#" + contentDivId);

        if (contentDiv) {
          if (contentDivId === selectedContentId) {
              contentDiv.style.display = "block";
              tab.classList.add("tab-button-active");
          } else {
              contentDiv.style.display = "none";
              tab.classList.remove("tab-button-active");
          }
        }
      });
    }
  }

  function toggleAdvanced() {
    var el = document.querySelector('#advanced');
    el.classList.contains('aut-hidden') ? el.classList.remove('aut-hidden') : el.classList.add('aut-hidden');
  }

  function toggleMoreValues(event) {
    var targetEl = event.targetSelector;
    var index = targetEl.getAttribute("data-idx");
    var el = document.querySelector("tr[data-more-values-index=\"" + index + "\"]");
    var icon = document.querySelector("i[data-more-values-icon-index=\"" + index + "\"]");

    if (el) {
      if (el.classList.contains("collapsed")) {
        el.classList.remove("collapsed");
        el.classList.add("expanded");
        icon.innerHTML = "expand_less";
      } else {
        el.classList.remove("expanded");
        el.classList.add("collapsed");
        icon.innerHTML = "expand_more";
      }
    }
  }

  function toggleMenuDropdown() {
    let dropdownMenu = document.querySelector(".dropdown-menu");
    if (!dropdownMenu) return;

    if (dropdownMenu.classList.contains('non-visible')) {
        dropdownMenu.classList.remove('non-visible')
    } else {
        dropdownMenu.classList.add('non-visible');
    }
  }

  function hideMenuDropdown(event) {
    let dropdownMenu = document.querySelector("#dropdown-menu-button");
    let targetIsDropdownMenu = dropdownMenu?.contains(event.target) ?? false;
    if (!targetIsDropdownMenu) {
        let dropdownMenuPopout = document.querySelector(".dropdown-menu");
        if (dropdownMenuPopout && !dropdownMenuPopout.classList.contains('non-visible')) dropdownMenuPopout.classList.add('non-visible');
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    document.addEventListener('click', delegate('#claims-tab', changeTab('claims')));
    document.addEventListener('click', delegate('#access-token-tab', changeTab('access-token')));
    document.addEventListener('click', delegate('#id-token-tab', changeTab('id-token')));
    document.addEventListener('click', delegate('#refresh-token-tab', changeTab('refresh-token')));
    document.addEventListener('click', delegate('#advanced-button', toggleAdvanced));
    document.addEventListener('click', delegate('#dropdown-menu-button', toggleMenuDropdown));
    document.addEventListener('click', delegate('.selectable', toggleMoreValues));
    document.addEventListener('click', delegate('#open-admin-panel-button', openAccountAdminPanel));
    document.addEventListener('click', delegate('#open-user-portal-button', openUserPortal));

    function openAccountAdminPanel () {
      window.open("{{.Data.AdminPanelURL}}", '_blank')
    }

    function openUserPortal () {
      window.open("{{.Data.UserProfileURL}}", '_blank')
    }
    window.addEventListener('click', hideMenuDropdown)

    document.querySelectorAll(".pre-copy-button").forEach(function (el) {
      el.addEventListener("click", function (e) {
        if (navigator.clipboard) {
          navigator.clipboard.writeText(el.getAttribute("data-copy-value"))
          var textEl = el.querySelector("span");
          textEl.innerText = "copied!";
          setTimeout(function() {
            textEl.innerText = "copy code";
          }, 3000);
        }
      })
    });

    var queryParams = new URLSearchParams(window.location.search);

    if (queryParams.get("auto_login") === "true") {
      var loginBtn = document.getElementById("sign-in");

      if(loginBtn) {
        loginBtn.click();
      }
    }
  });
</script>

{{ end }}