{{ template "base_email" . }}

{{ define "content" }}

<div class="heading2">Account already exists</div>
<div class="main-text">The email you provided is already registered with an account.</div>

{{ end }}