{{ template "base" . }}

{{ define "title" }}Consent{{ end }}

{{ define "content" }}
  <script>
    function toggle (scope) {
      var el = document.querySelector("[data-desc-id='" + scope + "']");
      if (el.classList.contains('aut-scope-desc-visible')) {
        el.classList.remove("aut-scope-desc-visible");
        el.classList.add("aut-scope-desc-hidden");
        document.querySelector("[data-icon-id='" + scope + "']").innerText = "keyboard_arrow_down";
      } else {
        el.classList.remove("aut-scope-desc-hidden");
        el.classList.add("aut-scope-desc-visible");
        document.querySelector("[data-icon-id='" + scope + "']").innerText = "keyboard_arrow_up";
      }

      setBoxShadowForContent();
      return false;
    }

    function setBoxShadowForContent () {
      var content = document.querySelector(".aut-content");
      var scrollAtTop = content.scrollTop === 0;
      var scrollAtBottom = content.scrollHeight - content.offsetHeight - content.scrollTop < 1;

      if (content.scrollHeight > content.clientHeight) {
        scrollAtTop
          ? content.classList.remove("aut-content-with-top-shadow")
          : content.classList.add("aut-content-with-top-shadow");

        scrollAtBottom
          ? content.classList.remove("aut-content-with-bottom-shadow")
          : content.classList.add("aut-content-with-bottom-shadow");

      } else {
        content.classList.remove("aut-content-with-top-shadow");
        content.classList.remove("aut-content-with-bottom-shadow");
      }
    }

    window.addEventListener('load', function () {
      setBoxShadowForContent();

      document.querySelector(".aut-content").addEventListener('scroll', function () { setBoxShadowForContent(); });
    });
  </script>

  <div class="aut-banner-contained">
    {{ template "header" .Styling }}
  </div>

  <div class="mdc-card aut-container">
    <form action="?login_id={{ .Data.payload.Session.ID }}" method="post">
        {{ .Data.csrfField }}

      <div class="aut-header">
        <h6 class="aut-header-user-name">{{ or .Data.payload.Session.AuthenticationContext.name .Data.payload.Session.Subject }},</h6>
        <h6 class="body1">Your consent is requested by</h6>
        <div class="aut-app-box">
          <div class="aut-app-icon">
              {{if .Data.payload.Client.LogoURI}}
                <img src="{{.Data.payload.Client.LogoURI}}" width="42px" height="42px"/>
              {{else}}
                <i class="material-icons">apps</i>
              {{end}}
          </div>
          <div class="aut-app-name-and-desc">
            <div class="aut-app-name">{{ .Data.payload.Client.Name }}</div>
              {{if .Data.payload.Client.ClientURI }}
                <div class="aut-app-desc"><a href="{{ .Data.payload.Client.ClientURI }}" target="_blank">{{ .Data.payload.Client.ClientURI }}</a></div>
              {{end}}
          </div>
        </div>
        <div class="body1">This application would like access to</div>
      </div>
      <div class="aut-content">
          {{if .Data.scopesWithoutService }}
            <div class="aut-content-scopes-group">
                {{range .Data.scopesWithoutService}}
                  <div class="mdc-form-field">
                    <div class="mdc-checkbox">
                      <input type="checkbox"
                              class="mdc-checkbox__native-control"
                              name="scopes"
                              value="{{ .RequestedScopeName }}"
                              id="{{ .RequestedScopeName }}"
                              {{ if not .GrantAllowed }} disabled
                              {{ else }} checked
                              {{ end }}
                      />
                      <div class="mdc-checkbox__background">
                        <svg class="mdc-checkbox__checkmark"
                              viewBox="0 0 24 24">
                          <path class="mdc-checkbox__checkmark-path"
                                fill="none"
                                d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                        </svg>
                        <div class="mdc-checkbox__mixedmark"></div>
                      </div>
                      <div class="mdc-checkbox__ripple"></div>
                    </div>
                    <div class="aut-scope">
                      <div class="aut-scope-header">
                        <label for="{{ .Name }}" class="aut-scope-label">
                        {{ if .IsDynamic }}
                            {{ if .DisplayName }} {{ .DisplayName }}: {{ .RequestedScopeName }} {{ end }}
                        {{ else }}
                            {{ or .DisplayName .Name }}
                        {{ end }}
                        </label>
                        {{ if .Description }}
                          <button id="show-scope-desc"
                                  class="mdc-icon-button"
                                  aria-label="Show scope desc"
                                  aria-hidden="true"
                                  aria-pressed="false"
                                  onclick="return toggle({{ .RequestedScopeName }});">
                            <i class="material-icons mdc-icon-button__icon" data-icon-id="{{ .RequestedScopeName }}">keyboard_arrow_down</i>
                          </button>
                        {{end}}
                      </div>
                        {{ if .Description }}
                          <div class="aut-scope-desc aut-scope-desc-hidden" data-desc-id="{{ .RequestedScopeName }}">
                            <div class="aut-scope-desc-text">{{ .Description }}</div>
                          </div>
                        {{end}}
                    </div>
                  </div>
                {{end}}
            </div>
          {{end}}

          {{range .Data.servicesWithScopes}}
            <div class="overline">{{ .Service.Name }}</div>
            <div class="aut-content-scopes-group">
                {{range .Scopes }}
                  <div class="mdc-form-field">
                    <div class="mdc-checkbox">
                      <input type="checkbox"
                              class="mdc-checkbox__native-control"
                              name="scopes"
                              value="{{ .RequestedScopeName }}"
                              id="{{ .RequestedScopeName }}"
                              {{ if not .GrantAllowed }} disabled
                              {{ else }} checked
                              {{ end }}
                      />
                      <div class="mdc-checkbox__background">
                        <svg class="mdc-checkbox__checkmark"
                              viewBox="0 0 24 24">
                          <path class="mdc-checkbox__checkmark-path"
                                fill="none"
                                d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                        </svg>
                        <div class="mdc-checkbox__mixedmark"></div>
                      </div>
                      <div class="mdc-checkbox__ripple"></div>
                    </div>
                    <div class="aut-scope">
                      <div class="aut-scope-header">
                        <label for="{{ .Name }}" class="aut-scope-label">
                        {{ if .IsDynamic }}
                            {{ if .DisplayName }} {{ .DisplayName }}: {{ .RequestedScopeName }} {{ end }}
                        {{ else }}
                            {{ or .DisplayName .Name }}
                        {{ end }}
                        </label>
                        {{ if .Description }}
                          <button id="show-scope-desc"
                                  class="mdc-icon-button"
                                  aria-label="Show scope desc"
                                  aria-hidden="true"
                                  aria-pressed="false"
                                  onclick="return toggle({{ .RequestedScopeName }});">
                            <i class="material-icons mdc-icon-button__icon" data-icon-id="{{ .RequestedScopeName }}"> keyboard_arrow_down</i>
                          </button>
                        {{end}}
                      </div>
                        {{ if .Description }}
                          <div class="aut-scope-desc aut-scope-desc-hidden" data-desc-id="{{ .RequestedScopeName }}">
                            <div class="aut-scope-desc-text">{{ .Description }}</div>
                          </div>
                        {{end}}
                    </div>
                  </div>
                {{end}}
            </div>
          {{end}}
      </div>
      <div class="aut-footer">
      {{ if and .Data.payload.Client.PolicyURI .Data.payload.Client.TosURI }}
          By accepting these permissions, you allow this application to use your data
          as defined in their <a href="{{ .Data.payload.Client.PolicyURI }}" target="_blank">Privacy Policy</a>
          and <a href="{{ .Data.payload.Client.TosURI }}" target="_blank">Terms and Conditions</a>.
        {{ else if and .Data.payload.Client.PolicyURI (not .Data.payload.Client.TosURI) }}
          By accepting these permissions, you allow this app to use your data
          as defined in their <a href="{{.Data.payload.Client.PolicyURI }}" target="_blank">Privacy Policy</a>.
        {{ else if and (not .Data.payload.Client.PolicyURI) .Data.payload.Client.TosURI }}
          By accepting these permissions, you allow this app to use your data
          as defined in their <a href="{{ .Data.payload.Client.TosURI }}" target="_blank">Terms and Conditions</a>.
        {{ else }}
          By accepting these permissions, you allow this app to use your data.
        {{ end }}
      </div>
      <div class="aut-form-actions">
        <button class="mdc-button" type="submit" name="action" value="deny">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Cancel</span>
        </button>
        <button class="mdc-button mdc-button--raised" type="submit" name="action" value="allow">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Allow access</span>
        </button>
      </div>
    </form>
  </div>
{{ end }}
