{{ template "base" . }}

{{ define "title" }}Demo{{ end }}
        
<script nonce="{{.Config.Nonce}}">
  function changeTab(tab) {
    return (e) => {
        var indicators = document.querySelectorAll('.mdc-tab-indicator');
        indicators.forEach(function (indicator) {
            var id = indicator.getAttribute('data-tabid')
            var selector = '#' + id
            var cardDiv = document.querySelector(selector);
            if (id && cardDiv) {
                if (tab === id) {
                    cardDiv.style = ""
                    indicator.classList.add('mdc-tab-indicator--active');
                } else {
                    cardDiv.style = "display: none;"
                    indicator.classList.remove('mdc-tab-indicator--active');
                }
            }
        })
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    document.addEventListener('click', delegate('#claims-tab', changeTab('claims')));
    document.addEventListener('click', delegate('#access-token-tab', changeTab('access-token')));
    document.addEventListener('click', delegate('#id-token-tab', changeTab('id-token')));
    document.addEventListener('click', delegate('#refresh-token-tab', changeTab('refresh-token')));
    document.addEventListener('click', delegate('#advanced-button', toggleAdvanced));
    document.addEventListener('click', delegate('.selectable', toggleMoreValues));
  });
</script>

{{ define "content" }}
    {{ if .Data.code }}
        <div class="aut-banner-contained" style="position: relative;">
            {{ template "header" .Styling }}
            <a href="?" class="logout-container">
                <button class="mdc-button mdc-button--raised logout-button" type="button">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Sign out</span>
                </button>
            </a>
        </div>

        <div class="custom-header" style="margin-bottom: 40px;">
            <div>
                <h2>Demo Application</h2>

                <div class="aut-container" style="padding: 5px; width: 100%; margin-top: 22px;">
                    <div class="aut-demo-info" style="background-color: white; border: 1px solid #B9DCFF;">
                        <div class="material-icons aut-demo-info-icon">error_outline</div>
                        <div class="aut-demo-info-text">
                            <p style="color: rgba(0, 0, 0, 0.87); font-weight: 500">You have logged in to the Demo
                                app</p>
                            <p style="color: rgba(0, 0, 0, 0.6);">The information below is used for demo and testing
                                purposes. You can view aggregated claims or the tokens issued by ACP below.</p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="mdc-tab-bar" role="tablist" style="border: none;">
                        <div class="mdc-tab-scroller">
                            <div class="mdc-tab-scroller__scroll-area">
                                <div class="mdc-tab-scroller__scroll-content" style="margin-left: 0;">
                                    <button id="claims-tab" class="mdc-tab custom-tab" role="tab" aria-selected="true"
                                            tabindex="0">
                      <span class="mdc-tab__content">
                        <span class="mdc-tab__text-label">Claims</span>
                      </span>
                                        <span class="mdc-tab-indicator mdc-tab-indicator--active" data-tabid="claims">
                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                      </span>
                                        <span class="mdc-tab__ripple"></span>
                                    </button>

                    <button id="access-token-tab" class="mdc-tab custom-tab" role="tab" tabindex="1">
                      <span class="mdc-tab__content">
                        <span class="mdc-tab__text-label">Access Token</span>
                      </span>
                                        <span class="mdc-tab-indicator" data-tabid="access-token">
                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                      </span>
                                        <span class="mdc-tab__ripple"></span>
                                    </button>

                                    {{ if .Data.id_token_raw }}
      
                                        <button id="id-token-tab" class="mdc-tab custom-tab" role="tab" tabindex="2">
                                            <span class="mdc-tab__content">
                                                <span class="mdc-tab__text-label">ID Token</span>
                                            </span>
                                            <span class="mdc-tab-indicator" data-tabid="id-token">
                                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                            </span>
                                            <span class="mdc-tab__ripple"></span>
                                        </button>
                                    {{ end }}

                                    {{ if .Data.refresh_token_raw }}
                                        <button id="refresh-token-tab" class="mdc-tab custom-tab" role="tab" tabindex="3">
                        <span class="mdc-tab__content">
                          <span class="mdc-tab__text-label">Refresh Token</span>
                        </span>
                                            <span class="mdc-tab-indicator" data-tabid="refresh-token">
                          <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                                            <span class="mdc-tab__ripple"></span>
                                        </button>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mdc-card aut-container demo-content"
             style=" width: 1024px; margin-top: 0;">

            <div id="claims">
                {{ if and .Data.basic_claims (gt (len .Data.basic_claims) 0) }}
                    <div class="mdc-data-table" style="border: none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.31);">
                        <div class="mdc-data-table__table-container">
                            <table class="mdc-data-table__table" aria-label="claims-table" style="width: 100%">
                                <thead>
                                    <tr class="mdc-data-table__header-row">
                                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Claim
                                            name
                                        </th>
                                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Source
                                            path
                                        </th>
                                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Value
                                        </th>
                                        <th class="mdc-data-table__header-cell" role="columnheader" scope="col"/>
                                    </tr>
                                </thead>
                                <tbody class="mdc-data-table__content" id="claims-table-tbody">
                                    {{ range $i, $c := .Data.basic_claims }}
                                        <tr data-idx="{{$i}}" class="mdc-data-table__row {{ if gt (len $c.Value) 1 }}selectable{{end}}">
                                            <td class="mdc-data-table__cell" scope="row">{{ $c.Name }}</td>
                                            <td class="mdc-data-table__cell" scope="row">{{ $c.Source }}</td>
                                            <td class="mdc-data-table__cell" scope="row">
                                                {{ if gt (len $c.Value) 1 }}
                                                    <span style="color: #626576">more values</span>
                                                    <span style="padding: 2px 4px;background: #F7FAFF;border: 1px solid #C2C3C6;border-radius: 4px;margin-left: 6px;">
                                                        {{len $c.Value}}
                                                    </span>
                                                {{ else }}
                                                    {{ range $c.Value}}{{.}}{{end}}
                                                {{ end }}
                                            </td>
                                            <td style="text-align: right;padding-right: 12px;">
                                                {{ if gt (len $c.Value) 1 }}
                                                    <i class="material-icons" data-more-values-icon-index="{{$i}}">expand_more</i>
                                                {{end}}
                                            </td>
                                        </tr>

                                        {{ if gt (len $c.Value) 1 }}
                                            <tr class="more-values collapsed"
                                                data-more-values-index="{{$i}}">
                                                <td colspan="4"
                                                    style="padding: 30px 60px;border-top: 1px solid rgba(0,0,0,.12); background: #FCFCFF;">
                                                    <div style="color: #777777; font-weight: 600; margin-bottom: 12px;">
                                                        Claims Values
                                                    </div>
                                                    <div>
                                                        {{ range $i, $e := $c.Value}}
                                                            {{if gt $i 0}}, {{end}}
                                                            {{$e}}
                                                        {{end}}
                                                    </div>
                                                </td>
                                            </tr>
                                        {{ end }}
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {{ else }}
                    <div style="color: darkgray; text-align: center; padding: 80px;">No claims</div>
                {{ end }}
            </div>

            <div style="display: flex; flex-direction: column;">
                <div style="display: none;" id="access-token" class="info-card">
                    {{ if .Data.access_token_header }}
                        <h3 class="heading5 sublabel">Header</h3>
                        <pre>{{ .Data.access_token_header }}</pre>
                    {{ end }}
                    {{ if .Data.access_token_payload }}
                        <h3 class="heading5 sublabel">Payload</h3>
                        <pre>{{ .Data.access_token_payload }}</pre>
                    {{ end }}
                    <h3 class="heading5 sublabel">Raw</h3>
                    <pre class="with-copy"><div class="pre-copy-button" data-copy-value="{{ .Data.access_token_raw }}"><i
                                    class="material-icons">content_copy</i><span>copy code</span></div><div id="access-token-raw">{{ .Data.access_token_raw }}</div></pre>
                </div>

                <div style="display: none;" id="id-token" class="info-card">
                    <h3 class="heading5 sublabel">Header</h3>
                    <pre>{{ .Data.id_token_header }}</pre>
                    <h3 class="heading5 sublabel">Payload</h3>
                    <pre>{{ .Data.id_token_payload }}</pre>
                    <h3 class="heading5 sublabel">Raw</h3>
                    <pre class="with-copy"><div class="pre-copy-button" data-copy-value="{{ .Data.id_token_raw }}"><i
                                    class="material-icons">content_copy</i><span>copy code</span></div>{{ .Data.id_token_raw }}</pre>
                </div>

                <div style="display: none;" id="refresh-token" class="info-card">
                    <h3 class="heading5 sublabel">Raw</h3>
                    <pre class="with-copy"><div class="pre-copy-button" data-copy-value="{{ .Data.refresh_token_raw }}"><i
                                    class="material-icons">content_copy</i><span>copy code</span></div>{{ .Data.refresh_token_raw }}</pre>
                </div>

            </div>
        </div>
    {{ else }}
        <div class="aut-banner-contained">
            {{ template "header" .Config }}
        </div>

        <div class="mdc-card aut-container">
            <div class="aut-header" style="margin-bottom: 10px;">
                <div style="text-align: center">
                    <h1 class="aut-list-header">Demo {{ .flow }} application</h1>
                </div>
            </div>
            <form action="?action=login" method="post" style="padding: 10px 90px 40px 90px;">
                <div style="text-align: center; margin-top: 26px">
                    <button id="login-button" class="mdc-button mdc-button--raised"><span
                                class="mdc-button__ripple"></span>Login to demo app
                    </button>
                </div>

          <div style="text-align: center; margin-bottom: 12px; margin-top: 30px;">
            <button id="advanced-button" class="mdc-button mdc-button--text" type="button">Configuration
                    </button>
                </div>
                <div class="aut-hidden" id="advanced">
                    <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%">
                        <input class="mdc-text-field__input" id="text-field-hero-input" name="client_id"
                               value="{{ .Data.client_id }}">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="text-field-hero-input" class="mdc-floating-label">Client ID</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%; margin-top: 20px">
                        <input class="mdc-text-field__input" id="text-field-hero-input" name="client_secret"
                               value="{{ .Data.client_secret }}">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="text-field-hero-input" class="mdc-floating-label">Client Secret</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%; margin-top: 20px">
                        <input class="mdc-text-field__input" id="text-field-redirect_uri-input" name="redirect_uri"
                               value="{{ .Data.redirectURL }}">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="text-field-hero-input" class="mdc-floating-label">Redirect URI</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%; margin-top: 20px">
                        <input class="mdc-text-field__input" id="text-field-response_type-input" name="response_type"
                               value="code">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="text-field-response_type-input" class="mdc-floating-label">Response
                                    type</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%; margin-top: 20px">
                        <input class="mdc-text-field__input" id="text-field-prompt-input" name="prompt" value="">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="text-field-prompt-input" class="mdc-floating-label">Prompt</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%; margin-top: 20px">
                        <input class="mdc-text-field__input" id="text-field-state-input" name="state"
                               value="{{ .Data.state }}">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="text-field-state-input" class="mdc-floating-label">State</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%; margin-top: 20px">
                        <input class="mdc-text-field__input" id="text-field-scope-input" name="scope"
                               value="{{ .Data.scope }}">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="text-field-scope-input" class="mdc-floating-label">Scope</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%; margin-top: 20px">
                        <input class="mdc-text-field__input" id="text-field-scope-input" name="acr_values"
                               value="{{ .Data.acr_values }}">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="text-field-scope-input" class="mdc-floating-label">ACR values</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%; margin-top: 20px">
                        <input class="mdc-text-field__input" id="text-field-nonce-input" name="nonce"
                               value="{{ .Data.nonce }}">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="text-field-nonce-input" class="mdc-floating-label">Nonce</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {{ end }}

    <script nonce="{{.Config.Nonce}}">
        var textFields = [].map.call(document.querySelectorAll('.mdc-text-field'), function (el) {
            return new window.mdc.textField.MDCTextField(el)
        });

        function toggleAdvanced() {
            var el = document.querySelector('#advanced');
            el.classList.contains('aut-hidden')
                ? el.classList.remove('aut-hidden')
                : el.classList.add('aut-hidden');
        }

        function toggleMoreValues(event) {
            var targetEl = event.targetSelector;
            var index = targetEl.getAttribute("data-idx");
            var el = document.querySelector("tr[data-more-values-index=\"" + index + "\"]");
            var icon = document.querySelector("i[data-more-values-icon-index=\"" + index + "\"]");


            if (el) {
                if (el.classList.contains("collapsed")) {
                    el.classList.remove("collapsed");
                    el.classList.add("expanded");
                    icon.innerHTML = "expand_less";
                } else {
                    el.classList.remove("expanded");
                    el.classList.add("collapsed");
                    icon.innerHTML = "expand_more";
                }
            }
        }

        document.querySelectorAll(".pre-copy-button").forEach(function (el) {
            el.addEventListener("click", function (e) {
                if (navigator.clipboard) {
                    navigator.clipboard.writeText(el.getAttribute("data-copy-value"))
                    var textEl = el.querySelector("span");
                    textEl.innerText = "copied!";
                    setTimeout(function() {
                        textEl.innerText = "copy code";
                    }, 3000);
                }
            })
        });
    </script>
{{ end }}
