{{ template "base" . }}

{{ define "title" }} Reset password {{ end }}

{{ define "content" }}
  <script nonce="{{.Config.Nonce}}">
    function enableSubmit(){
      document.getElementById('submit-next').removeAttribute('disabled');
    }

    function disableSubmit(){
      document.getElementById('submit-next').setAttribute('disabled', '');
    }

  </script>
  <div class="aut-banner-contained">
    {{ template "header" .Config }}
  </div>

  <div class="mdc-card aut-container">
    <div class="color-bar"></div>

    <div id="sign-up">
      <div class="aut-header">
        <div style="text-align: center">
          <div class="aut-list-header">
            <div class="header-avatar-name">
              <h3>Reset password</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="sign-in-content">
        <form action="?login_id={{ .Data.SessionID }}&user_id={{ .Data.UserID}}&login_state={{ .Data.SessionState }}" method="post" id="sign-up-form">
          {{ .Data.CsrfField }}

          <h2 class="header-sign-up">Forgot password?</h2>

         <div class="body2 sent-otp-info">Enter the identifier you used to sign up</div>
            <div class="form-field" id="identifier-container">
              <label for="identifier" class="form-field--label">
                <div class="base-label form-field--label">
                  Identifier *

                  {{ template "tooltip-identifier" .Config }}
                </div>
              </label>
              <div class="mdc-text-field mdc-text-field--outlined input-field">
                <span class="mdc-notched-outline">
                  <span class="mdc-notched-outline__leading"></span>
                  <span class="mdc-notched-outline__trailing"></span>
                </span>
                <input class="mdc-text-field__input" id="text-field-identifier-input" name="identifier" value="">
              </div>
            </div>

          {{ if .Data.CaptchaSiteKey }}
            <div class="g-recaptcha"
              data-sitekey="{{ .Data.CaptchaSiteKey }}"
              data-callback="enableSubmit"
              data-expired-callback="disableSubmit"
              data-error-callback="disableSubmit"

            ></div>
          {{ end }}

          {{ if .Data.Error }}
            <div class="alert-danger">
                {{ .Data.Error }}
            </div>
          {{ end }}

          <button id="submit-next" class="mdc-button mdc-button--raised base-confirm-button" type="submit" {{ if .Data.CaptchaSiteKey }} disabled {{ end }} >
            Next
          </button>
        </form>

        <div class="base-label subheader">
          Already have an account? <a href="{{ .Data.LoginPath }}">Sign In</a>
        </div>

      </div>
    </div>
  </div>

  {{ template "footer" }}
{{ end }}
