{{ template "base" . }}

{{ define "title" }} Set password {{ end }}

{{ define "content" }}
 <script nonce="{{.Config.Nonce}}">
    function togglePasswordVisibility (inputId, iconId) {
      var isPasswordVisible = false;
      return function () {
        var passwordInput = document.getElementById(inputId);
        var visibilityIcon = document.getElementById(iconId);

        passwordInput.type = isPasswordVisible ? 'password' : 'text';
        visibilityIcon.innerText = isPasswordVisible ? 'visibility_off' : 'visibility';
        isPasswordVisible = !isPasswordVisible;
        return false;
      }
    }
    document.addEventListener("DOMContentLoaded", function() {
      document.addEventListener('click', delegate('#toggle-password-visibility-button', togglePasswordVisibility('text-field-password-input', 'toggle-password-visibility-icon')));
      document.addEventListener('click', delegate('#toggle-repeat-password-visibility-button', togglePasswordVisibility('text-field-repeat-password-input', 'toggle-repeat-password-visibility-icon')));
    });
  </script>
  <div class="aut-banner-contained">
    {{ template "header" .Config }}
  </div>


  <div class="mdc-card aut-container">
    <div class="color-bar"></div>

    <div id="set-password">
      <div class="aut-header">
        <div style="text-align: center">
          <div class="aut-list-header">
            <div class="header-avatar-name">
              <h3>Set password</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="sign-in-content">

      <form action="?login_id={{ .Data.sessionID }}&user_id={{ .Data.userID}}&login_state={{ .Data.sessionState }}&identifier={{ .Data.identifier }}&code={{ .Data.code }}" method="post" id="set-password-form">
        {{ .Data.csrfField }}

        <h2 class="header-sign-up">Set password</h2>
        <div class="body2 sent-otp-info">Enter the new password.</div>

        <div class="form-field" id="password-container">
          <label for="password" class="form-field--label">
            <div class="base-label form-field--label">
              Password *
            </div>
          </label>
          <div class="mdc-text-field mdc-text-field--outlined input-field">
            <span class="mdc-notched-outline">
              <span class="mdc-notched-outline__leading"></span>
              <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input class="mdc-text-field__input" id="text-field-password-input" name="password" type="password">
            <button id="toggle-password-visibility-button"
                    type="button"
                    class="mdc-icon-button"
                    style="opacity: 0.38;"
                    aria-label="Toggle password visibility"
                    aria-hidden="true"
                    aria-pressed="false">
              <i id="toggle-password-visibility-icon" class="material-icons mdc-icon-button__icon">visibility_off</i>
            </button>
          </div>
        </div>

        <div class="form-field" id="repeat-password-container">
          <label for="password" class="form-field--label">
            <div class="base-label form-field--label">
              Repeat password *
            </div>
          </label>
          <div class="mdc-text-field mdc-text-field--outlined input-field">
            <span class="mdc-notched-outline">
              <span class="mdc-notched-outline__leading"></span>
              <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input class="mdc-text-field__input" id="text-field-repeat-password-input" name="repeatPassword" type="password">
            <button id="toggle-repeat-password-visibility-button"
                    type="button"
                    class="mdc-icon-button"
                    style="opacity: 0.38;"
                    aria-label="Toggle password visibility"
                    aria-hidden="true"
                    aria-pressed="false">
              <i id="toggle-repeat-password-visibility-icon" class="material-icons mdc-icon-button__icon">visibility_off</i>
            </button>
          </div>
        </div>
        {{ if not .Data.code }}
        <div class="form-field">
            <label for="password" class="form-field--label">
            <div class="base-label form-field--label">
                Verification code
                <a href=" {{ .Data.resendPath }}" style="float:right;">Resend code</a>
            </div>
            </label>
            <div class="mdc-text-field mdc-text-field--outlined input-field">
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>

            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading" style="display: flex; align-items: center;">
                  <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0" style="font-size: 20px; padding: 0 0 4px 14px;">vpn_key</i>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>

            <input class="mdc-text-field__input input-with-placeholder" type="text" inputmode="numeric" autocomplete="one-time-code" aria-label="Label" id="text-field-otp-input" name="otp" placeholder="Enter the verification code" style="padding-left: 48px;">
            </div>
        </div>
        {{ end }}

        {{ if .Data.error }}
          <div class="alert-danger">
              {{ .Data.error }}
          </div>
        {{ end }}

        <button class="mdc-button mdc-button--raised base-confirm-button" type="submit">
          Set password
        </button>
      </form>
      </div>
    </div>
  </div>

  {{ template "footer" }}
{{ end }}
