{{ template "base" . }}

{{ define "title" }} Set password {{ end }}

{{ define "content" }}

  {{ template "password_visibility_script" . }}

  <div class="header-container">
    {{ template "header" .Config }}
  </div>

  <div class="card">
    <div class="color-bar"></div>

    <h3 class="header">Reset password</h3>

    <div class="content">

      <form action="?login_id={{ .Data.SessionID }}&user_id={{ .Data.UserID}}&login_state={{ .Data.SessionState }}&identifier={{ .Data.Identifier }}&code={{ .Data.Code }}&server_id={{ .Data.ServerID }}" method="post">
        {{ .Data.CsrfField }}

        <h2>Set password</h2>

        <div class="header-info">Enter the new password</div>

        <div class="form-field">
          <label for="text-field-password-input">
            <span id="password-label">Password *</span>
          </label>

          <div class="input-with-button">
            <input id="text-field-password-input" name="password" type="password">
            <button id="toggle-password-visibility-button" type="button" aria-label="Toggle password visibility">
              <i id="toggle-password-visibility-icon" class="material-icons">visibility_off</i>
            </button>
          </div>

          {{ template "password_strength" }}

        {{ range .Data.FormError.Fields.password }}
          {{ template "error_message" . }}
        {{ end }}
        </div>

        <div class="form-field">
          <label for="text-field-repeat-password-input">
            <span id="repeat-password-label">Repeat password *</span>
          </label>

          <div class="input-with-button">
            <input id="text-field-repeat-password-input" name="repeatPassword" type="password">
            <button id="toggle-repeat-password-visibility-button" type="button" aria-label="Toggle password visibility">
              <i id="toggle-repeat-password-visibility-icon" class="material-icons">visibility_off</i>
            </button>
          </div>

        </div>

        {{ if not .Data.Code }}
          <div class="form-field">
            <label for="text-field-identifier-input" class="label-with-link">
              Verification code
              <a href="{{ .Data.ResendPath }}">Resend code</a>
            </label>

            <div class="input-with-button input-with-prefix-button">
              <button type="button" tabindex="-1">
                <i class="material-icons">vpn_key</i>
              </button>
              <input type="text" inputmode="numeric" autocomplete="one-time-code" aria-label="Verification code" name="otp" id="text-field-otp-input">
            </div>
          </div>
        {{ end }}

        {{ range .Data.FormError.Errors }}
          {{ template "error_message" . }}
        {{ end }}

        <button class="submit-button" type="submit" id="sign-in">
          Set password
        </button>
      </form>
    </div>
  </div>

  {{ template "footer" }}
{{ end }}
