{{ define "login_admin_tabs" }}

<div class="tabs-container">
  <button id="sign-in-tab" role="tab" data-tabid="sign-in" class="tab-button tab-button-active">
    <i class="material-icons">person_outline</i>
    Admin sign in
  </button>

  <button id="quick-access-tab" role="tab" data-tabid="quick-access" class="tab-button">
    <i class="material-icons">turned_in_not</i>
    Quick access
  </button>
</div>

{{ end }}
