{{ define "form_checkbox" }}

<div class="form-field">
  <label for="{{if .ID}}{{.ID}}{{else}}field-{{.Name}}{{end}}">
    <div class="form-field-checkbox">
      <input type="checkbox" class="{{if .Classes}}{{range .Classes}} {{.}}{{end}}{{end}}" style="{{range $k, $v := .CSS}}{{$k}}:{{$v}};{{end}}" {{if .ID}}id="{{.ID}}"{{else}}id="field-{{.Name}}"{{end}} name="{{.Name}}" {{if .Value}} value="{{.Value}}"{{end}} {{range $k, $v := .Params}} {{$k}}="{{$v}}"{{end}} {{if .Checked}}checked{{end}}>

      {{ .Label }}

      {{ if .TooltipText }}
        {{ template "tooltip" .TooltipText }}
      {{ end }}
    </div>
  </label>

  {{ if .Errors }}
    {{ range .Errors }}
      <div class="alert-danger">{{.}}</div>
    {{ end }}
  {{ end }}
</div>

{{ end }}
