{{ define "form_unsupported" }}

<div class="alert-danger">
  Field "{{.Name}}" with type "{{.FieldType}}" is not supported by this form
  and cannot be rendered. Please contact administrator.
</div>

{{end}}
