{{ define "form_button" }}

<button id="submit-next" class="submit-button" type="submit" id="sign-in" {{range $k, $v := .Params}} {{$k}}="{{$v}}"{{end}}>
  <i class="material-icons">lock</i>
  {{ .Label }}
</button>

{{ end }}