{{ define "header_profile" }}

<style>
    .profile_container {
        position:relative;
        text-transform: none;
    }

    .profile_button {
        color: var(--mdc-theme-primary, #0E1628);
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }

    .profile_button .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid var(--mdc-theme-primary, #0E1628);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
    }

    .profile_button .avatar span {
        font-size: 0;
    }

    .profile_button .avatar span::first-letter {
        font-size: 14px;
        text-transform: uppercase;
    }

    .profile_button .name {
        text-transform: none;
        margin-right: 8px;
    }

    .profile_button i {
        height: 20px;
        margin-right: 8px;
        font-size: 20px;
        color: #626576;
    }

    .dropdown-menu {
        position: absolute;
        right: 0;
        top: 44px;
        min-width: 256px;
        background: #fff;
        box-shadow: 0px 4.43419px 21.67824px -0.98537px rgba(24, 39, 75, 0.14), 0px 1.97075px 6.89762px -1.47806px rgba(24, 39, 75, 0.12);
        border-radius: 4px;
    }
    .divider {
        margin: 4px 0; border-top: 1px solid #F2F4FF
    }

    .profile_settings {
        padding: 12px 24px;
    }

    .profile_settings .label {
        font-weight: 400;
        font-size: 12px;
        color: #626576;
        line-height: 16px;
    }

    .profile_settings .value {
        font-weight: 500;
        font-size: 14px;
        color: #626576;
        line-height: 20px;
    }

    .dropdown-menu .item_container {
        padding: 12px 24px;
        font-size: 14px;
        font-weight: 400;
    }

    .dropdown-menu .item_container:hover {
        background: #F2F4FF;
        cursor: pointer;
    }

    .dropdown-menu .item_container i {
        margin-right: 8px;
        font-size: 20px;
        color: #626576
    }

    .dropdown-menu .item_container > a > div {
        display: flex;
        align-items: center
    }

    .dropdown-menu .item_container > div {
        display: flex;
        align-items: center
    }

    .dropdown-menu .item_container .caption {
        font-size: 10px;
        font-weight: 400;
        margin-top: 4px;
    }

    .dropdown-menu .item_container a {
        color: initial;
    }
</style>

<div class="profile_container">
    <div class="profile_button" id="dropdown-menu-button">
        <div class="avatar">
            <span>{{ if .Data.Email }} {{.Data.Email}} {{ else }} P {{ end }}</span>
        </div>
        {{ if .Data.Email }}
            <div class="name">{{.Data.Email}}</div>
        {{ end }}
        <i class="material-icons">arrow_drop_down</i>
    </div>
    <div class="dropdown-menu non-visible">
        <div class="profile_settings">
            <div class="label">Profile settings</div>
            {{ if .Data.Email }}
                <div class="value">{{.Data.Email}}</div>
            {{ end }}
        </div>
        <div class="divider"></div>
        <div class="item_container" id="open-user-portal-button">
            <div><i class="material-icons">account_box</i>User Profile</div>
        </div>
        {{ if .Data.AdminPanelURL }}
            <div class="item_container" id="open-admin-panel-button">
                <div><i class="material-icons">group</i>Account Admin Panel</div>
            </div>
        {{ end }}
        <div class="divider"></div>
        {{ if .Data.OrganizationID }}
            <div class="item_container">
                <a href="?">
                    <div>
                        <i class="material-icons">exit_to_app</i><div>Logout</div>
                    </div>
                </a>
            </div>
        {{ else }}
            <div class="item_container">
                <a href="?">
                    <div style="align-items: flex-start">
                        <i class="material-icons">exit_to_app</i>
                        <div>
                            <div id="logout-button">Logout</div>
                            <div class="caption">Logout from Demo Application only and retain OIDC provider session.</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item_container">
                {{ if .Data.IDTokenRaw }}
                <a href="{{ .Data.OIDCLogoutURL }}?id_token_hint={{ .Data.IDTokenRaw }}">
                    {{ else }}
                    <a href="{{ .Data.OIDCLogoutURL }}">
                        {{ end }}
                        <div style="align-items: flex-start">
                            <i class="material-icons">exit_to_app</i>
                            <div>
                                <div id="logout-everywhere-button">Logout Everywhere</div>
                                <div class="caption">Logout from the Demo application and the OIDC provider.</div>
                            </div>
                        </div>
                    </a>
            </div>
        {{ end }}
    </div>
</div>
{{end}}