{{ define "password_strength" }}

<div id="password-strength-container">
  <div id="password-strength-steps">
    <div class="password-strength-step"></div>
    <div class="password-strength-step"></div>
    <div class="password-strength-step"></div>
    <div class="password-strength-step"></div>
    <div class="password-strength-step"></div>
  </div>
  <div id="password-strength-text"></div>
</div>

{{ end }}