{{ define "password_visibility_script" }}

<script nonce="{{.Config.Nonce}}">

   function togglePasswordVisibility (inputId, iconId) {
      var isPasswordVisible = false;
      return function () {
        var passwordInput = document.getElementById(inputId);
        var visibilityIcon = document.getElementById(iconId);

        passwordInput.type = isPasswordVisible ? 'password' : 'text';
        visibilityIcon.innerText = isPasswordVisible ? 'visibility_off' : 'visibility';
        isPasswordVisible = !isPasswordVisible;
        return false;
      }
    }

    document.addEventListener("DOMContentLoaded", function () {
      const allPasswordInputs = document.querySelectorAll('.input-with-button');
      allPasswordInputs.forEach(function (inputContainer) {
        const input = inputContainer.querySelector('input');
        const button = inputContainer.querySelector('button');
        const icon = inputContainer.querySelector('i');
        if (input && button && icon) {
          const inputId = input.getAttribute('id');
          const buttonId = button.getAttribute('id');
          const iconId = icon.getAttribute('id');
          togglePasswordVisibility(inputId, iconId);
          document.addEventListener('click', delegate('#' + buttonId, togglePasswordVisibility(inputId, iconId)));
        }
      });
    });

</script>

{{ end }}
